.button{
    background-color: black;
    color: white;
    width: 50%;
    height: 30px;
    font-size: 18px;
    margin-top: 18px;
    cursor: pointer;
    
}
.details{
    display: flex;
    gap: 30px;
    padding-left: 20px;
}
.item{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.imgdiv{
    width: 100%;
    transform: scale(0.9);
}